body{
    background: white;
}
body.darkmode{
    background: black;
}
.navbar{
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
}

.navbar.darkmode{
    background-color: black ;
    margin-left: 40px;
}

.navbar-brand{
    color: black;
}

.navbar-brand.darkmode{
    color: white;
}
.recherche{
    margin: 0 270px 0 100px;
}

h3{
    color: black;
    margin-left: 60px;
    font-weight: bold;
}

h3.darkmode{
    color: white;
    margin-left: 60px;
    font-weight: bold;
}
.card1{
    margin-left: 60px;
}

.custom-control{
    margin-right: 30px;
}

hr.darkmode{
   background: white;
}

.card{
    margin-left: 60px;
    border: none;
}